{{#each data.options}}
<!--	<button class="options game-button ingame__options--{{#if ../data.image}}half{{else}}full{{/if}}" data-value="{{@index}}">{{this}}</button>-->
	
	<a href="javascript:;" class="options game-button" data-value="{{@index}}">{{this}}
<!--	<span class="answer-me"></span>-->
	<!-- <span class="answer-opponent"></span> -->
	</a>
{{/each}}