{{#if data.image}}
<div class="ingame__image">
	{{#if data.question}}
		<p class="ingame__img-question">{{data.question}}</p>
	{{/if}}
	<img src="{{data.image}}" alt="Yeah">
</div>
{{else}}
<div class="ingame__question">
	<h1 class="question question--{{textLength data.question}}">{{data.question}}</h1>
</div>
{{/if}}